#active-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  #active-list li {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  .active
  {
    background-color: white;
  }
  .selected{
    background-color: yellow;
  }
  #completed-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  #completed-list li {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    text-decoration: line-through;
    color: #409430;
    background-color: white;
  }
  
  #todo-list-container {
    margin-top: 20px;
    border: 3px solid gray;
    padding: 2em;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    background-color: lightblue;
  }
  #completed-list-container
  {
    border: 3px solid gray;
    padding: 2em;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgreen;
  }
  
  #add-task {
    margin-right: 10px;
  }
  
  #input-task {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  
  button {
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  h2 {
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1em;
    border-bottom: 1px solid black;
    margin-right: 100%;
  }